/* app css stylesheet */

.graphicsBoard {
    display: inline-block;
    width: 2580px;
}
#efv-container {
    width: 625px;
    float: left;
}
.graphics {
    float: left;
}

.button {
    float: left;
    color: #777;
    padding: 10px;
}

.button:hover {
    color: #000;
}

.button-menu {
    display: inline-block;
    width: 1480px;
}
a {
    text-decoration: none;
}
